{% macro title_case(text) %}{{ text[0]|upper}}{{text[1:] }}{% endmacro %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title_case(module_name) }}</title>
</head>
<body>
    <h1>{{ module_name }} works!</h1>

</body>
</html>