from flask import Flask
from flask_cors import CORS

import configparser
import {{ project_name_path }}

app = Flask(__name__)

config = configparser.ConfigParser()
config.read('config/config.ini')
app.config.from_object(config)

cors = CORS(app, resources={r"/api/*": {"origins": "*"}}, supports_credentials=True)
app.config['CORS_HEADERS'] = 'Content-Type'

# [b] Apps
{{ project_name_path }}.init_app(app)


if __name__ == '__main__':
    app.run(debug=True)
