from flask import Blueprint, render_template

{{ module_name_plural }}_routes = Blueprint('{{ module_name }}', __name__, template_folder='templates', static_folder='static')

@{{ module_name_plural }}_routes.route('/', methods=['GET'])
def get_{{ module_name_plural }}():
    return render_template('index.html')